<section class="py-5 text-center container">
    <div class="row py-lg-5" style="text-align: center;">
      <div class="col-lg-6 col-md-8 mx-auto" style="float: none;display: inline-block;">
        <h1 class="fw-light">Treinamento Pagaso</h1>
        <p class="lead text-body-secondary">
            Este é um sistema que estamos fazendo para treinar o Rails junto com o time Pagaso
        </p>

        <p>
          <a href="/contato" class="btn btn-primary my-2">Contato</a>
          <a href="/sobre" class="btn btn-secondary my-2">Sobre</a>
        </p>
      </div>
    </div>
</section>