<section class="py-5 text-center container">
    <div class="row py-lg-5" style="text-align: center;">
      <div class="col-lg-6 col-md-8 mx-auto" style="float: none;display: inline-block;">
        <h1 class="fw-light">Sobre o Treinamento Pagaso</h1>
        <div class="lead text-body-secondary" style="text-align:left">
            <h3>Bem-vindo ao Treinamento Pagasó: Desenvolvimento Web com Ruby on Rails!</h3>
            <p>Neste emocionante treinamento, estou empolgado em compartilhar com vocês os fundamentos e as melhores práticas do desenvolvimento web utilizando a poderosa linguagem de programação Ruby em conjunto com o framework Rails. Prepare-se para mergulhar em um universo de possibilidades e construir aplicações web robustas, eficientes e elegantes!</p>
            <p>Durante nossas aulas, iremos abordar os seguintes tópicos:</p>
            <ul>
                <li>Configuração do ambiente de desenvolvimento Ruby e Rails;</li>
                <li>Criação de modelos, migrações e relacionamentos entre bancos de dados;</li>
                <li>Implementação de rotas e controle de requisições;</li>
                <li>Criação de visões dinâmicas e utilização de layouts;</li>
                <li>Autenticação e autorização de usuários;</li>
                <li>Uso de formulários e validações de dados;</li>
                <li>Implementação de testes automatizados para garantir a qualidade do código;</li>
                <li>Integração com APIs externas e serviços web;</li>
                <li>Otimização de desempenho e escalabilidade de aplicações Rails;</li>
                <li>Boas práticas de segurança e prevenção de vulnerabilidades.</li>
            </ul>
            <p>Ao longo do treinamento, não apenas aprenderemos a desenvolver com Ruby on Rails, mas também compreenderemos os princípios e padrões de design por trás do framework, permitindo-nos construir aplicações web elegantes e bem estruturadas.</p>
            <p>Além disso, o treinamento será fortemente baseado em projetos práticos, onde vocês poderão aplicar imediatamente os conhecimentos adquiridos em aulas teóricas. Também incentivarei a colaboração e o trabalho em equipe, uma vez que a programação em equipe é uma habilidade essencial no mundo real.</p>
            <p>Não se esqueçam de que estarei disponível para responder a todas as suas perguntas e oferecer orientação personalizada durante todo o treinamento. Meu objetivo é ajudá-los a se tornarem desenvolvedores web confiantes e habilidosos, prontos para enfrentar desafios reais no mercado de trabalho.</p>
            <p>Estou empolgado com o progresso que faremos juntos e estou confiante de que, ao final deste treinamento, vocês terão as habilidades necessárias para criar aplicativos web incríveis usando Ruby on Rails.</p>
            <p>Vamos embarcar nesta jornada de aprendizado e construção de futuros brilhantes juntos!</p>
        </div>
      </div>
    </div>
</section>